@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"; 

:root{
    --color-rocket: #7159c1;
    --color-default: #282a36;
    --color-green: #50fa7b;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background: var(--color-default);
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    padding: 30px;
    border-bottom: 1px solid #7159c1cc;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    padding: 12px;
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 30px;

    text-decoration: none;
}

.links a:hover {
    color: var(--color-green);
    transition: color 250ms;
}

#wrapper {
    text-align: center;
    padding: 32px;

}

#wrapper h1 a {
    text-decoration: none;
    color: #50fa7bcc;
}

#wrapper img {
    border-radius: 50%;
    height: 270px;
    border: 2px solid var(--color-green);
    margin-bottom: 30px;
}

#wrapper li {
    margin: 20px;
    font-size: 18px;
}

#wrapper li img {
    height: 18px;
    margin: 0 7px;
    border: none;
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);

}

/* ===== C A R D S ===== */

.cards {
    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background: url(https://skylab.rocketseat.com.br/static/40a7d53e92496bfa7622792225a98d1c.png) 0% 0% / cover;
    border-radius: 12px;
}

.card_img-container img {
    width: 70%;
    padding: 30px 53px;
    height: 200px;
}

#st {
    color: #7159c1;
}

#lb {
    color: rgb(253, 149, 31);
}

#gs {
    color: rgb(4, 211, 97);
}

.card_content,
.card_info {
    padding: 24px;
    text-decoration: white;
} 

.card_info  {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card_price{
    background-color: var(--color-rocket);
    filter: brightness(80%);

    text-align: center;
    padding: 5px 20px;
    border-radius: 20px;
}

/* ===== MODAL ===== */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
 }
 
 .modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
 }
 
 .modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
 }

 .modal .maximize {
    color: black;
    position: absolute;
    right: 42px;
    top: 12px;
    cursor: pointer;
 }

 /* ==== MODAL.active ==== */
 .modal-overlay.active {
    opacity: 1;
    visibility: visible;
 }

 iframe { 
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
 }